# Dependencies
node_modules
.pnpm-store

# Build
dist
.next
.turbo
.vercel
out

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage
playwright-report
test-results

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Logs
*.log
npm-debug.log*

# Misc
*.tsbuildinfo
